<!DOCTYPE html>
<html lang="en">
	
<head>
	<title>Node.js Upload Files with Progress Bar</title>
    <style>
        .progressupload{
            height: 20px;
            margin-top: 25px;
        }
        .progress{
            background-color: green;
            width: 0%;
            height: 20px;
            
        }
        .progressBar{
            padding-top: 2px;
            padding-bottom: 2px;
        }
    </style>
</head>

<body>
	<h1>Check The Progress of Uploaded Files</h1>
	
	<div>
		<span>Select files to upload</span>
		<input type="button" class="chooseFiles" value="Select..." />
		<div class="progressUpload"></div>
	</div>
	<script>
        var browse = document.getElementsByClassName('chooseFiles')[0];
        var selectDialog = document.createElement("INPUT");
        selectDialog.setAttribute("type", "file");
        selectDialog.setAttribute("multiple", "true");
        selectDialog.style.display = "none";
        var progressUpload = document.getElementsByClassName("progressUpload")[0];
        var progress;
        addProgressBar();
        browse.addEventListener("click", function(){	
            selectDialog.click();
            
        });

        selectDialog.addEventListener("change", function(){
            
            sendFiles(selectDialog.files);

        });

        function sendFiles(files){
            
            resetProgressBar();
            var req = new XMLHttpRequest();	
            req.upload.addEventListener("progress", updateProgress);
            req.open("POST", "/v2/s3Local/upload_obj");
            var form = new FormData();
            for(var file = 0; file < files.length; file++){	
                form.append("bucket_name", "mahfuzak08-gmail-com");
                form.append("file_upload", files[file]);
                form.append("sl", Date.now());
            }
            req.send(form);
        }
        function updateProgress(e){
            // console.log("progress = ", e, e.loaded, e.total);
            progress.style.width = (((e.loaded/e.total)*100))+ "%";
            console.log("progress = ", progress.style.width);
        }
        function resetProgressBar(){
            progress.style.width = "0%";
        }
        function addProgressBar(){
            var progressBar = document.createElement("div");
            progressBar.className = "progressBar";
            progressUpload.appendChild(progressBar);
            var innerDIV = document.createElement("div");
            innerDIV.className = "progress";
            progressBar.appendChild(innerDIV);
            progress = document.getElementsByClassName("progress")[0];
        }

    </script>
</body>

</html>
